@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This web site was inspired by my two year old son, who has yet to say a word when asked.</p>
<p>This site includes:</p>
     <p>Nine View Pages (cshtml)</p>
<p>Nine Repositories (includes interfaces)</p>
<p>Eight Models(includes four view models)</p>
<p>Five seperate Controllers(ione not currently linked)</p>
<br /><td><img src="~/images/large.gif" alt="shapechanger" style="width:304px;height:228px;"></td><br />
