@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Eugene Oregon<br />
    <abbr title="Phone">P:</abbr>
    425.864.5100
</address>

<address>
    <strong>Contact:</strong> <a href="mailto:jgavette1973@gmail.com">jgavette1973@gmail.com</a><br />
   
</address>
